<form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
  Email
  <input type="text" formControlName="email" id="email">
  <br>Contraseña
  <input type="password" formControlName="password" id="password">
  <br>
  <button type="submit">Iniciar Sesión</button>
</form>
