<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="usuario">
    <app-datos-usuario></app-datos-usuario>
    <a [routerLink]="['/crear-paciente']">Crear Paciente</a>
    <a [routerLink]="['/listado-pacientes']">Listado Pacientes</a>
    <a [routerLink]="['/crear-ficha']">Crear Ficha de Atención</a>
    <a [routerLink]="['/historial']">Ver Historial</a>
    <button (click)="cerrarSesion()"><a [routerLink]="['/login']">Cerrar Sesion</a></button>
</div><br>


<router-outlet></router-outlet>
