<div>
  <p><b>Nombre: </b>{{ ficha.nombrePaciente }}</p>
  <p><b>Patologia: </b>{{ ficha.patologia }}</p>
  <p><b>Detalle: </b>{{ ficha.detalle }}</p>
  <p><b>Atendido por: </b>{{ ficha.nombreDoctor }}</p>
</div>
