<div>
  <p>Nombre: <span>{{ paciente.nombre }}</span></p>
</div>
<div>
  <p>Apellido Paterno: <span>{{ paciente.apellidoPaterno }}</span></p>
</div>
<div>
  <p>Apellido Matenro: <span>{{ paciente.apellidoMaterno }}</span></p>
</div>
<div>
  <p>Sexo: <span>{{ paciente.sexo }}</span></p>
</div>
<div>
  <p>Edad: <span>{{ paciente.edad }}</span></p>
</div>
<div>
  <p>Correo: <span>{{ paciente.correo }}</span></p>
</div>
<div>
  <p>Sistema de salud: <span>{{ paciente.sistemaSalud }}</span></p>
</div>
