<app-crear-patologia (emisorEventoPatologia)="agregarPatologiaALista($event)"></app-crear-patologia>
<br><br>
<form [formGroup]="formFicha" (ngSubmit)="crearFicha()"> 
    Doctor:
    <input formControlName="nombreDoctor">
    <br><br>Paciente:
    <select formControlName="nombrePaciente">
      <option value="">Seleccione un paciente</option>
      <option *ngFor="let nombrePaciente of pacientesNombres">{{ nombrePaciente }}</option>
    </select>
    <br><br>Patologia:
    <select formControlName="nombrePatologia">
      <option value="">Seleccione patologia</option>
      <option *ngFor="let nombrePatologia of patologiasNombres" [value]="nombrePatologia">{{ nombrePatologia }}</option>
    </select>
    <br><br>Detalle Atencion:
    <input type="textarea"  formControlName="detalle"> 
    <br><br>
    <button type="submit">Crear Ficha</button>
  </form>
