<input type="text" placeholder="buscar..." (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto>
<button (click)="buscar(buscarTexto.value)">Buscar</button>
<table>
  <tr>
      <td>Nombre</td>
      <td>Apellido Paterno</td>
      <td>Apellido Materno</td>
      <td>Sexo</td>
      <td>Sistema Salud</td>
  </tr>
  <tr *ngFor="let paciente of pacientes | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{ paciente.nombre }}</td>
      <td>{{ paciente.apellidoPaterno }}</td>
      <td>{{ paciente.apellidoMaterno }}</td>
      <td>{{ paciente.sexo }}</td>
      <td>{{ paciente.sistemaSalud }}</td>
      <td><button type="button" (click)="redireccionarAEditar(paciente.id)">Editar</button></td>
      <td><button type="button" (click)="verDetalle(paciente.id)">Ver Mas...</button></td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
