<form [formGroup]="formPacientes" (ngSubmit)="AgregarPacientes()">
  Nombre:
  <input type="text" formControlName="nombre">
  <span *ngIf="nombre.touched && nombre.errors?.required">Es requerido</span>
  <span *ngIf="nombre.touched && nombre.errors?.maxLength">Maximo 20 caracteres</span>
  <br><br>Apellido Paterno
  <input type="text" formControlName="apellidoPaterno">
  <span *ngIf="apellidoPaterno.touched && apellidoPaterno.errors?.required">Es requerido</span>
  <span *ngIf="apellidoPaterno.touched && apellidoPaterno.errors?.maxLength">Maximo 20 caracteres</span>
  <br><br>Apellido Materno
  <input type="text" formControlName="apellidoMaterno">
  <span *ngIf="apellidoMaterno.touched && apellidoMaterno.errors?.required">Es requerido</span>
  <span *ngIf="apellidoMaterno.touched && apellidoMaterno.errors?.maxLength">Maximo 20 caracteres</span>
  <br><br>Sexo:
  <select formControlName="sexo">
    <option value=''>Seleccione sexo</option>
    <option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</option>
  </select>
  <span *ngIf="sexo.touched && sexo.errors?.required">Es requerido</span>
  <br><br>Edad:
  <input type="=number" formControlName="edad">
  <span *ngIf="edad.touched && edad.errors?.required">Es requerido</span>
  <span *ngIf="edad.errors?.pattern">Debe tener solo numeros</span>
  <br><br>Correo:
  <input type="" formControlName="correo">
  <span *ngIf="correo.touched && correo.errors?.required">Es requerido</span>
  <span *ngIf="correo.errors?.pattern">Debe tener formato correo</span>
  <br><br>Sistema salud:
  <select formControlName="sistemaSalud">
    <option value=''>Seleccione sistema Salud</option>
    <option *ngFor="let sistemaSalud of sistemasSalud" [value]="sistemaSalud">{{ sistemaSalud }}</option>
  </select>
  <span *ngIf="sistemaSalud.touched && sistemaSalud.errors?.required">Es requerido</span>
  <button type="submit">Agregar Paciente</button>
</form>
