<table>
  <tr>
      <td>Nombre</td>
      <td>Apellido Paterno</td>
      <td>Apellido Materno</td>
      <td>Sexo</td>
      <td>Sistema Salud</td>
  </tr>
  <tr *ngFor="let buscador of buscado | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{ buscador.nombre }}</td>
      <td>{{ buscador.apellidoPaterno }}</td>
      <td>{{ buscador.apellidoMaterno }}</td>
      <td>{{ buscador.sexo }}</td>
      <td>{{ buscador.sistemaSalud }}</td>
      <td><button type="button" (click)="redireccionarAEditar(buscador.id)">Editar</button></td>
      <td><button type="button" (click)="verDetalle(buscador.id)">Ver Mas...</button></td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>