<form [formGroup]="formEditarPacientes" (ngSubmit)="editarPacientes()">
  Nombre:
  <input type="text" formControlName="nombre">
 
  <br><br>Apellido Paterno
  <input type="text" formControlName="apellidoPaterno">
  
  <br><br>Apellido Materno
  <input type="text" formControlName="apellidoMaterno">
 
  <br><br>Sexo:
  <select formControlName="sexo">
    <option value=''>Seleccione sexo</option>
    <option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</option>
  </select>
  
  <br><br>Edad:
  <input type="=number" formControlName="edad">
  
  <br><br>Correo:
  <input type="" formControlName="correo">
 
  <br><br>Sistema salud:
  <select formControlName="sistemaSalud">
    <option value=''>Seleccione sistema Salud</option>
    <option *ngFor="let sistemaSalud of sistemasSalud" [value]="sistemaSalud">{{ sistemaSalud }}</option>
  </select>
 
  <button type="submit">Editar Paciente</button>
</form>

