<table>
  <tr>
    <td>Nombre Paciente</td>
    <td>Patologia</td>
    <td></td>
  </tr>
  <tr *ngFor="let ficha of fichas; let i = index">
    <td>{{ ficha.nombrePaciente }}</td>
    <td>{{ ficha.patologia }}</td>
    <td><button (click)="verMas(i)">Ver más...</button></td>
  </tr>
</table>
